.wrapper {
  /* min-width: 100%; */
  min-height: 100vh;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.box {
  width: 500px;
  height: 200px;
  background-color: antiquewhite;
  margin-right: 10px;
}
